# Telegram Bot Token
BOT_TOKEN=8355254283:AAEE06P7FLtlQrR3bHMNVo7G-KSI0wtOqEc

# Database URL (PostgreSQL)
DATABASE_URL=postgresql://neondb_owner:npg_2hNKxEd0iaeI@ep-lively-smoke-ad54i1u5-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# Admin ID
ADMIN_ID=7850455999
